* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
.wrap {
  margin-top: 48px;
}
a {
  text-decoration: none;
}
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 3;
}
header .header {
  width: 1244px;
  height: 48px;
  margin: 0 auto;
  line-height: 48px;
}
header .header > div {
  float: left;
}
header .header-left-logo {
  width: 80px;
  height: 28px;
  background: url(../images/huaban_logo.png);
  margin-top: 10px;
}
header .header .header-left li {
  float: left;
  margin-right: 18px;
}
header .header .header-left li:last-of-type a {
  font-size: 40px;
  font-weight: bold;
  line-height: 0px;
}
header .header .header-left li a {
  color: #444444;
  font-size: 14px;
}
header .header .header-left li a:hover {
  color: #c90000;
}
header .header .header-left li a span {
  display: inline-block;
  height: 14px;
  line-height: 14px;
  background-color: #f4a523;
  border-radius: 2px;
  font-size: 12px;
  color: #fff;
  padding: 0 3px 2px;
  margin-left: 3px;
}
header .header .header-center input {
  width: 675px;
  height: 34px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  outline: none;
  padding: 10px;
  margin-left: 15px;
}
header .header .header-right {
  float: right;
}
header .header button {
  width: 54px;
  height: 34px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}
header .header button:first-of-type {
  margin-right: 5px;
  background: linear-gradient(to right, #e53e49, #d43636);
  color: #fff;
  border: 1px solid #c90000;
}
header .header button:last-of-type {
  background: #fff;
  border: 1px solid #d9d9d9;
  color: #383838;
}
section {
  width: 100%;
  height: 60px;
  position: relative;
}
section li {
  position: absolute;
  width: 100%;
  height: 60px;
  transition: all 1s ease;
}
section li a {
  display: block;
  width: 100%;
  height: 60px;
}
section li:nth-of-type(1) a {
  background: url(../images/top_banner01.jpg) center;
}
section li:nth-of-type(2) a {
  background: url(../images/top_banner02.jpg) center;
}
section li:nth-of-type(3) a {
  background: url(../images/top_banner03.jpg) center;
}
section li:nth-of-type(4) a {
  background: url(../images/top_banner04.jpg) center;
}
section li:nth-of-type(5) a {
  background: url(../images/top_banner05.jpg) center;
}
section li:nth-of-type(6) a {
  background: url(../images/top_banner06.jpg) center;
}
section li:nth-of-type(7) a {
  background: url(../images/top_banner07.jpg) center;
}
.fast-login {
  width: 100%;
  height: 120px;
  background: url(../images/login_header_blurbg.jpg);
}
.fast-login .fast-login-in {
  width: 1244px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.fast-login .left h2 {
  margin-bottom: 5px;
}
.fast-login .right li {
  float: left;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 5px;
}
.fast-login .right li a {
  display: inline-block;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: url(../images/icon.jpg);
}
.fast-login .right li:nth-of-type(2) a {
  background-position: 60px 0;
}
.fast-login .right li:nth-of-type(3) a {
  background-position: 140px 0;
}
.fast-login .right li:nth-of-type(4) a {
  background-position: 220px 0;
}
.fast-login .right > div span:first-of-type,
.fast-login .right > div span:last-of-type {
  display: inline-block;
  width: 40px;
  height: 1px;
  background-color: #fff;
  vertical-align: middle;
  margin: 0 3px;
}
.bt-pic {
  width: 100%;
  height: 130px;
}
.bt-pic .bt-pic-in {
  height: 130px;
  line-height: 130px;
  text-align: center;
  font-size: 30px;
}
.bt-pic .bt-pic-in span:first-of-type,
.bt-pic .bt-pic-in span:last-of-type {
  display: inline-block;
  width: 48px;
  height: 1px;
  background-color: #666;
  vertical-align: middle;
}
.tab-btn {
  width: 100%;
  height: 48px;
}
.tab-btn .tab-btn-in {
  width: 300px;
  margin: 0 auto;
  height: 47px;
  line-height: 47px;
}
.tab-btn .tab-btn-in li {
  width: 100px;
  float: left;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}
.tab-btn .tab-btn-in .active {
  color: orangered;
  border-bottom: 1px solid orangered;
}
.tab-content {
  width: 100%;
  height: auto;
  background-color: #e8e8e8;
}
.tab-content .tab-content-item {
  display: none;
  width: 1244px;
  margin: 0 auto;
}
.tab-content .tab-content-item:first-of-type {
  display: block;
}
.tab-content .tab-content-item:first-of-type .head ul {
  padding: 20px 0 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.tab-content .tab-content-item:first-of-type .head ul li {
  width: 236px;
  height: 126px;
  border-radius: 3px;
}
.tab-content .tab-content-item:first-of-type .head ul li a {
  display: block;
  width: 236px;
  height: 126px;
  border-radius: 3px;
}
.tab-content .tab-content-item:first-of-type .head ul li:nth-of-type(1) a {
  background: url(../images/top01.png);
}
.tab-content .tab-content-item:first-of-type .head ul li:nth-of-type(2) a {
  background: url(../images/top02.jpg);
}
.tab-content .tab-content-item:first-of-type .head ul li:nth-of-type(3) a {
  background: url(../images/top03.jpg);
}
.tab-content .tab-content-item:first-of-type .head ul li:nth-of-type(4) a {
  background: url(../images/top04.jpg);
}
.tab-content .tab-content-item:first-of-type .head ul li:nth-of-type(5) a {
  background: url(../images/top05.jpg);
}
.tab-content .tab-content-item:first-of-type .imgLoad {
  width: 100%;
  position: relative;
  height: 800px;
}
.tab-content .tab-content-item:first-of-type .imgLoad .box {
  float: left;
  width: 236px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  position: relative;
  vertical-align: top;
  margin-right: 16px;
}
.tab-content .tab-content-item:first-of-type .imgLoad .box:nth-of-type(5n) {
  margin-right: 0;
}
.tab-content .tab-content-item:first-of-type .imgLoad .box .box-img {
  width: 100%;
  position: relative;
}
.tab-content .tab-content-item:first-of-type .imgLoad .box .box-img .shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  display: none;
  cursor: pointer;
}
.tab-content .tab-content-item:first-of-type .imgLoad .box .box-img .shade a:first-child {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 30px;
  line-height: 30px;
  background-color: #E53E49;
  padding: 0 12px;
  color: #fff;
  font-size: 12px;
}
.tab-content .tab-content-item:first-of-type .imgLoad .box .box-img .shade a:last-child {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 5px;
}
.tab-content .tab-content-item:first-of-type .imgLoad .box .box-img .shade a:last-child span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  transform: translate(-50%, -50%);
  background: url(../images/action_icons12.png) -20px 0 no-repeat;
}
.tab-content .tab-content-item:first-of-type .imgLoad .box .box-img img {
  width: 234px;
  vertical-align: top;
}
.tab-content .tab-content-item:first-of-type .imgLoad p {
  font-size: 12px;
  padding: 10px;
  line-height: 1.5em;
}
.scroll {
  position: fixed;
  top: 48px;
  left: 0;
  width: 100%;
  height: 70px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.scroll .scroll-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1244px;
  height: 70px;
  margin: 0 auto;
}
.scroll .scroll-wrap .right a {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-left: 10px;
  background: url(../images/icon2.png) no-repeat;
  background-size: cover;
  vertical-align: middle;
}
.scroll .scroll-wrap .right a:nth-of-type(2) {
  background-position: -42px 0;
}
.scroll .scroll-wrap .right a:nth-of-type(3) {
  background-position: -84px 0;
}
.scroll .scroll-wrap .right a:nth-of-type(4) {
  background-position: -126px 0;
}
.scroll .scroll-wrap .right span {
  vertical-align: middle;
}
.elevator-item {
  position: fixed;
  right: 15px;
  bottom: 10px;
  z-index: 1000;
  opacity: 1;
}
.elevator-item .elevator {
  width: 40px;
  height: 36px;
  background: url("../images/iconsprite_btbar.png") 8px 6px no-repeat;
  display: inline-block;
  background-color: #444;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  margin-bottom: 4px;
  display: none;
}
.elevator-item .elevator:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.elevator-item .plus {
  width: 40px;
  height: 36px;
  background: url("../images/iconsprite_btbar.png") 8px -34px no-repeat;
  display: inline-block;
  background-color: #444;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}
.elevator-item .plus:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}
.mask .mask-center {
  width: 520px;
  height: 420px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -160px;
  margin-left: -260px;
  border-radius: 5px;
  padding: 30px;
  box-sizing: border-box;
}
.mask .mask-center .center_box {
  width: 286px;
  margin: 20px auto 0;
}
.mask .mask-center .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: url("../images/msg_close.png") 0 0;
  width: 18px;
  height: 18px;
  display: inline-block;
}
.mask .mask-center .logo-img {
  display: block;
  width: 106px;
  margin: 0 auto;
}
.txtBox {
  position: relative;
  text-align: center;
  margin: 0 auto;
  color: #999999;
}
.txtBox span:nth-child(1) {
  content: "";
  border-top: 1px solid #ededed;
  display: block;
  position: absolute;
  width: 50px;
  top: 8px;
  left: 0;
}
.txtBox span:nth-child(3) {
  content: "";
  border-top: 1px solid #ededed;
  display: block;
  position: absolute;
  width: 50px;
  top: 8px;
  right: 0;
}
.center_box .buttons {
  margin: 15px 0 20px;
  text-align: center;
  /*font-size: 0;*/
  letter-spacing: -999px;
}
.center_box .buttons a {
  background-image: url('../images/login_icons_tiny.svg');
  width: 48px;
  height: 48px;
  margin-right: 10px;
  letter-spacing: 0;
}
.center_box .buttons a:nth-child(1) {
  display: inline-block;
}
.center_box .buttons a:nth-child(2) {
  display: inline-block;
  background-position: -80px 0;
}
.center_box .buttons a:nth-child(3) {
  display: inline-block;
  background-position: -160px 0;
}
.center_box .buttons a:nth-child(4) {
  display: inline-block;
  background-position: -240px 0;
}
.center_box .buttons a:nth-child(5) {
  display: inline-block;
  background-position: -320px 0;
  margin-right: 0;
}
.center_box .mail-login {
  margin-top: 15px;
}
.center_box .mail-login .clear-input {
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 100%;
}
.clear-input {
  display: inline-block;
  padding: 0 10px;
  height: 36px;
  font-size: 16px;
  line-height: 1;
  color: #777;
  background: #FCFCFC;
  border: 1px solid #CCC;
  border-radius: 3px;
  width: 250px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: color 0.2s linear, border-color 0.3s linear;
}
.btn18 {
  font-size: 18px;
  padding: 0 15px;
  border-radius: 3px;
  height: 36px;
  line-height: 36px;
}
.rbtn {
  display: block;
  background: #E53E49;
  background: linear-gradient(#e53e49, #d43636);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.08), 0 1px 0 rgba(255, 255, 255, 0.3);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  border: 1px solid #C90000;
  text-align: center;
  text-decoration: none;
}
.switch-back {
  text-align: center;
  margin: 10px 0;
}
.red-link {
  color: #9A0000;
}
.center_box a {
  cursor: pointer;
}
